@import '~@fortawesome/fontawesome-free/css/all.min.css';

:root {
  --gray-l: #E2E2E2;
  --gray-m: #C5C5C5;
  --gray-d: #515C64;
  --grey-ud: #3B3B3B;
  --white:  #ffffff;
  --black:  #000000;
  --red: #FF3230;
  --maroon: #FF215F;
  --blue: #106FFC;
  --lightblue: #17A4F4;
  --green: #00C052;
  --yellow: #FFC523;
  --purple: #504CCE;
  --brown: #987955;
  --pink: #BA6BD4;
  --orange: #FF8A1D;
  --gray: var(--gray-d);
}

/*
* Theme - shared
*/

.red {
  color: var(--red);
}

.maroon {
  color: var(--maroon);
}

.blue {
  color: var(--blue);
}

.lightblue {
  color: var(--lightblue);
}

.green {
  color: var(--green);
}

.yellow {
  color: var(--yellow);
}

.purple {
  color: var(--purple);
}

.brown {
  color: var(--brown);
}

.pink {
  color: var(--pink);
}


/*
* Theme - light
*/

body.theme-light .surface-a {
  background-color: var(--gray-l);
}

body.theme-light .surface-b {
  background-color: var(--white);
}

/*
* Theme - dark
*/

/*
* Global
*/

@font-face {
  font-family: inter;
  src: url(../assets/fonts/Inter-Regular.woff);
}

* {
  font-family: 'inter';
  font-size: 14px;
}

body {
  display: block;
  padding: 0;
  margin: 0;
  overflow: hidden;
}



/*
* App
*/

todo-app {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}