import <APP_NAME> from '<APP_PATH>';

window.addEventListener('load', function() {
    console.log('Attempting to init <APP_NAME>!');
    var app = new <APP_NAME>({selector: 'todo-app', toplevel: true});
    window['<APP_NAME>'] = app;
});