import <BOOTSTRAP_COMPONENT> from '<APP_PATH>';

window.addEventListener('load', function() {
    console.log('Attempting to init <APP_NAME>!');
    var app = new <BOOTSTRAP_COMPONENT>({selector: '<APP_SELECTOR>', toplevel: true});
    window['<APP_NAME>'] = app;
});